<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href='{% static "polls/css/create_question_style.css" %}' />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href='{% static "polls/css/constants.css" %}'>
  <title>Create Question</title>
</head>

<body>
  <nav>
    <div class="button-nav">
      <a class='home' href='{% url "polls:home" %}'>Home</a>
      {% if user.is_authenticated%}
      <a href='{% url "users:profile" request.user.username %}' class="user-profile">{{request.user.username}}</a>
      {% else %}
      <a href='{% url "users:login" %}' class="user-profile">Login</a>
      {% endif %}
    </div>
    <hr />
  </nav>
  <main>
    <div class="field">
      <a href='{% url "polls:home" %}'><button>Back</button></a>
      <form action='{% url "polls:create_question" %}' method="post">
        {% csrf_token %}
        <label class="creator" for="creator">User: {{request.user.username}}</label>
        <input type="hidden" name="creator" value = {{request.user.username}}>
        <label for="question">Question:</label>

        <div class = "question">
          <input type="text" name="question" placeholder="Enter question" required />
          <span class = "question-length-counter"> 0/50</span>
        </div>
        <label for="choices">Choices:</label>
        <span class="count-choices">0/10</span>
        <button class="create-choice" type="button">Create Choice</button>
        <div class="choices-list"></div>
        <button type="submit">Creat</button>
      </form>
    </div>
  </main>
  {{ json_data|json_script:"county-data"}}
  <script type="text/javascript" src='{% static "polls/js/create_question_add_remove_choice.js" %}'></script>
  <script type="text/javascript" src='{% static "polls/js/create_question_switch_user.js" %}'></script>
  <script type="text/javascript" src='{% static "polls/js/create_question_question_length_counter.js" %}'></script>
</body>

</html>