{% extends "base.html" %}
{% load static %}

{% block title %}Creater Question{% endblock title %}

{% block css %}
<link rel="stylesheet" href='{% static "polls/css/create_question_style.css" %}' />
{% endblock css %}


{% block content %}
<a href='{% url "polls:home" %}'><button>Back</button></a>
<form action='{% url "polls:create_question" %}' method="post">
  {% csrf_token %}
  <div class="author">
    <i class="bi bi-arrow-repeat"></i>
    <label class="creator" for="creator">User: {{request.user.username}}</label>
    <input type="hidden" name="creator" value={{request.user.username}}>
  </div>
  
  <label for="question">Question:</label>
  <div class="question">
    <input type="text" name="question" placeholder="Enter question" required />
    <span class="question-length-counter"> 0/50</span>
  </div>
  <label for="choices">Choices:</label>
  <span class="count-choices">0/10</span>
  <button class="create-choice" type="button">Create Choice</button>
  <div class="choices-list"></div>
  <button type="submit">Creat</button>
</form>

{{ json_data|json_script:"county-data"}}
<script type="text/javascript" src='{% static "polls/js/create_question_add_remove_choice.js" %}'></script>
<script type="text/javascript" src='{% static "polls/js/create_question_switch_user.js" %}'></script>
<script type="text/javascript" src='{% static "polls/js/create_question_question_length_counter.js" %}'></script>
{% endblock content %}