<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <link
      rel="stylesheet"
      href='{% static "polls/css/create_question_style.css" %}'
    />
    <link
      href="https://cdn.boxicons.com/fonts/basic/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="button-nav">
        <a href='{% url "polls:home" %}'>Home</a>
        <a href="#" title="page not available" class="user-account">User</a>
      </div>
      <hr />
    </nav>
    <main>
      <div class="field">
        <a href='{% url "polls:home" %}'><button>Back</button></a>
        <form action='{% url "polls:create_question" %}' method="post">
          {% csrf_token %}
          <div>
            <label for="question">Question:</label>
            <button type="submit">Creat</button>
          </div>
          <input
            type="text"
            name="question"
            placeholder="Enter question"
            required
          />
          <label for="choices">Choices:</label>
          <span class="count-choices">0/10</span>
          <button class="create-choice" type="button">Create Choice</button>
          <div class="choices-list"></div>
           <script
            type="text/javascript"
            src='{% static "polls/js/create_input_choice.js" %}'
          ></script>
        </form>
      </div>
    </main>
  </body>
</html>
