<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'polls/home_style.css' %}" />
    <title>Document</title>
  </head>

  <body>
    <nav>
      <div class="button-nav">
        <a href="#">Home</a>
        <a href="#">User</a>
      </div>
      <hr />
    </nav>
    <main>
      <div class="polls">
        <a href="#">Would u like weather?</a>
        <a href="#">Other</a>
      </div>
    </main>
  </body>
</html>
