<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href='{% static "polls/css/home_style.css" %}' />
  <link rel="stylesheet" href='{% static "polls/css/constants.css" %}'>
  <title>Home</title>
</head>

<body>
  <nav>
    <div class="button-nav">
      <a href='{% url "polls:home" %}'>Home</a>
      <a href="#" title="page not available" class="user-account">User</a>
    </div>
    <hr />
  </nav>
  <main>
    <div class="polls">
      <a class="create-question" href='{% url "polls:create_question" %}'><button>Create question</button></a>
      <h1>Questions:</h1>
      {% for question in all_quetions %}
      <a class="question-title" href='{% url "polls:question" question.pk  %}'>
        {{question.question_text}}
      </a>
      {% endfor %}
    </div>
  </main>
</body>

</html>