:root {
    --primary-button-color: rgb(168, 228, 160);
    --border-button-color:  rgb(68, 148, 74, 0.4);
    --border-button-color-hover: rgba(32, 106, 69, 0.6);
    --primary-back-button-color:  rgb(255, 168, 168);
    --border-back-button-color:  rgb(255, 99, 99);
    --border-back-button-color-hover: rgb(255, 10, 10);
}