:root {
    /* main button site */
    --primary-button-color: rgb(168, 228, 160);
    --border-button-color: rgb(68, 148, 74, 0.4);
    --border-button-hover-color: rgba(32, 106, 69, 0.6);
    /* button of exit */
    --primary-back-button-color: rgb(255, 168, 168);
    --border-back-button-color: rgb(255, 99, 99);
    --border-back-button-hover-color: rgb(255, 10, 10);
    /* error message */
    --primary-error-message-color: rgb(255, 0, 0);
    /* nav underline */
    --primary-navigation-underline-color: rgb(0, 128, 0);
    /* create question button */
    --primary-search-color: rgb(223, 223, 223);
    --border-search-color: rgb(134, 134, 134);
    --primary-search-button-color: rgb(204, 204, 252);
    --primary-search-button-hover-color: rgb(187, 187, 252);
    --border-search-button-hover-color: rgb(0, 0, 205);
    /* optional information */
    --optional-information-color: rgb(102, 102, 102);
    /* green colors */
    --primary-green-color: rgb(34, 139, 34);
    --primary-green-hover-color: rgb(0, 100, 0);
}