.field a {
    height: 5%;
    width: 15%;
    min-width: 50px;
}

.field .block {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 2px solid rgba(128, 128, 128, 0.7);
}

.field a button {
    width: 100%;
    height: 100%;
    font-size: large;
    border-radius: 25px;
    background-color: var(--primary-back-button-color);
    border: 3px solid var(--border-back-button-color);
}

.field a button:hover {
    cursor: pointer;
    border-color: var(--border-back-button-hover-color);
}

.field form {
    display: flex;
    flex-direction: column;
}

form .author {
    margin-top: 20px;
    user-select: none;
}

form .author i {
    cursor: pointer;
    font-size: 25px
}

form .creator {
    user-select: none;
    font-size: 28px;
    color: var(--optional-information-color);
}

form label {
    font-size: 2em;
}

form input {
    height: 32px;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
}

/* form .question {} */

form .question .question-input {
    position: relative;
    background-color: inherit;
    bottom: 1;
}

form .question .question-input input {
    position: relative;
    width: 100%;
    padding-right: 10%;

}

form .question .question-input .question-length-counter {
    position: absolute;
    font-size: 24px;
    color: green;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

form .tags {
    border: 2px solid rgba(128, 128, 128, 0.7);
}

form .tags-list:empty {
    border: none;
}

form .tags-list {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgba(128, 128, 128, 0.7);
    margin-top: 5px;
    margin-bottom: 15px;
}

form .tags-list .added-tag {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 25px;
    background-color: gainsboro;
    margin: 10px 5px;
    padding: 0 10px;
    font-size: 30px;
}

form .tags-list .added-tag button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-left: 5px;
}

form .tags-list .added-tag button i:before {
    font-size: 20px;
    margin: auto auto;
    color: red
}


form .tags .add-tag-field {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

form .tags .add-tag-field .input-tag {
    width: 30%;
}

form .tags .add-tag-field .add-tag {
    cursor: pointer;
    position: absolute;
    right: calc(35% + 5px);
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: inherit;
}

form .tags .add-tag-field .add-tag i:before {
    font-size: 24px;
    color: green;
    margin: auto auto;
}

form .choices {
    display: flex;
    flex-direction: column;
    height: 100%;
}

form .choices .count-choices {
    margin: 0 auto;
    font-size: 32px;
    color: green;
    text-shadow: 0 0 15px rgb(107, 107, 107);
}

form .choices .create-choice {
    cursor: pointer;
    height: 40px;
    font-size: 25px;
    border: 3px solid;
    border-radius: 10px;
    border-color: var(--border-button-color);
    background-color: var(--primary-button-color);
}

form .create-choice:hover {
    border-color: var(--border-button-hover-color);
}

form div.choices-list {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 5px;
    border-radius: 15px;
    margin-top: 15px;
}

form div.choices-list div {
    display: flex;
}

form div.choices-list div input {
    width: 100%;
    margin: 8px;
}

form div.choices-list div button {
    width: 10%;
    height: 32px;
    border: 2px solid black;
    margin: auto 0;
    border-radius: 5px;
    background-color: inherit;
    cursor: pointer;
}

form div.choices-list div button:hover {
    border-color: red;
}

form div.choices-list div button i {
    color: inherit;
    font-size: 28px;
    margin: auto auto;
}

form div.choices-list div button:hover i {
    color: red;
}

form button[type='submit'] {
    margin: 25px 0 0 0;
    height: 50%;
    cursor: pointer;
    width: 100%;
    font-size: 30px;
    border: 3px solid;
    border-radius: 10px;
    border-color: var(--border-button-color);
    background-color: var(--primary-button-color);
}

form button[type='submit']:hover {
    border-color: var(--border-button-hover-color);
}