.field form {
    height: 50px;
}

.field form div {
    position: relative;
    height: 100%;
}

.field .search input {
    height: 100%;
    width: 100%;
    font-size: 28px;
    padding-left: 15px;
    padding-right: 6%;
    border-style: solid;
    border-radius: 50px;
    background-color: var(--primary-search-color);
    border-color: var(--border-search-color);
}

.field .search button {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 50px;
    right: 0;
    top: 1;
    aspect-ratio: 1;
    border-radius: 50%;
    border-style: solid;
    background-color: var(--primary-search-button-color);
    border-color: var(--border-search-button-hover-color);
}

.field .search button:hover {
    background-color: var(--primary-search-button-hover-color);
}

.field .search button i {
    font-size: 26px;
}


.field .header {
    display: flex;
    align-items: flex-end;
}

.field .header a {
    cursor: pointer;
    font-size: 2em;
    margin: 0 0 10px 20px;
    color: var(--primary-green-color);
    border: none;
    background-color: inherit;
}

.field .header a:hover {
    color: var(--primary-green-hover-color);
}

.field a {
    font-size: 2em;
}

.field h1 {
    font-size: 4em;
}

.field a.question-title {
    margin: 0 20px;
}

.field a.question-title::before {
    content: "•";
    margin-right: 10px;
    display: inline-block;
}