.field .create-question button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 1em;
    border-radius: 25px;
    border: 2px solid var(--border-create-question-button-color);
    background-color: var(--primary-create-question-button-color);
}

.field .create-question button:hover {
    border-color: var(--border-create-question-button-hover-color);
    background-color: var(--primary-create-question-button-hover-color);
}

.field a {
    font-size: 2em;
}

.field h1 {
    font-size: 4em;
}

.field h1 {
    margin: 10px 0;
}

.field a.question-title {
    margin: 0 20px;
}

.field a.question-title::before {
    content: "•";
    margin-right: 10px;
    display: inline-block;
}