* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    flex-shrink: 0;
}

.button-nav {
    display: flex;
    justify-content: center;
    margin: 10px 20px 10px 20px;
}

.button-nav a {
    font-size: 3em;
    margin: 0 50px 0 20px
}

nav hr {
    height: 10px;
    background-color: green;
    width: 50%;
    margin: 0 auto;
    border-radius: 25px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;

}

.field {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.field a {
    height: 5%;
    width: 15%;
}

.field a button {
    width: 100%;
    height: 100%;
    font-size: large;
    border-radius: 25px;
    background-color: #FFA8A8;
    border: 3px solid #FF6363;
}

.field a button:hover{
    cursor: pointer;
    border-color: #FF0C0C;
}

.field .user {
    font-size: 18px;
    margin: 10px 0 0 0;
    color: rgb(102, 102, 102)
}

.field h1 {
    font-size: 3em;
}

.field ul {
    margin-left: 2em;
}

.field ul li {
    font-size: 24px;
    margin: 5px 0;
}

.field .error {
    margin: 0 auto;
    color:red;
    font-size: 6em;
}