{% extends "base.html" %}
{% load static %}

{% block title %}{% if user.is_authenticated %}Profile:{{user.username}}{% else %}User{% endif %}{% endblock title %}

{% block css %}
<link rel="stylesheet" href='{% static "users/css/profile.css" %}'>
{% endblock css %}


{% block content %}
<div class="user-info">
  <div class="photo">
    <img src="https://i.pinimg.com/736x/1a/a8/d7/1aa8d75f3498784bcd2617b3e3d1e0c4.jpg" alt="user photo">
  </div>
  <div class="data">
    <span> Username: {{user.username}} </span>
    <span> Date joined: {{ user.date_joined|date:"d/m/Y" }}</span>
    <span> Count of created polls: {{count_created_of_polls}}</span>
    <span> Count of answered polls: {{count_answered_of_polls}}</span>
    {% if user.pk == request.user.pk%}
    <form name="formLogout" method="post">
      {% csrf_token %}
      <input type="hidden" name="logout" value="True">
      <button class="logout" type="button">Logout</button>
    </form>
    {% endif %}
  </div>
</div>
<hr class="profile-separator">
<div class="user-activity">
  <p>USER POLLS:</p>
  {% if question_list %}
  <div class="question-list-field">
    {% for question in question_list %}
    <div class="question">
      <a href='{% url "polls:question" question.pk%}'>{{question.question_text}}</a>
      <span>Votes: {{question.question_votes}}</span>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <span class="no-polls"> No polls</span>
  {% endif %}
</div>
<script type="text/javascript" src='{% static "users/js/notification_to_logout.js" %}'></script>
{% endblock content %}