<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='{% static "polls/css/base.css" %}' />
    <link rel="stylesheet" href='{% static "polls/css/home_style.css" %}' />
    <link rel="stylesheet" href='{% static "polls/css/question_style.css" %}' />
    <link rel="stylesheet" href='{% static "polls/css/constants.css" %}' />
    <title>{% block title %} Base Html {% endblock title %}</title>
</head>

<body>
    <nav>
        <div class="button-nav">
            <a class="home" href='{% url "polls:home" %}'>Home</a>
            {% if user.is_authenticated%}
            <a href='{% url "users:profile" request.user.username %}' class="user-profile">{{request.user.username}}</a>
            {% else %}
            <a href='{% url "users:login" %}' class="user-profile">Login</a>
            {% endif %}
        </div>
        <hr />
    </nav>
    <main>
        <div class="field">
            {% block content %}{% endblock content %}
        </div>
    </main>
</body>

</html>