.field .user-info {
    display: flex;
    flex-direction: row;
}

.field .user-info .photo {
    width: 30%;
}

.field .user-info img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.field .user-info .data {
    display: flex;
    min-height: 70%;
    min-width: 70%;
    flex-direction: column;
}

.field .user-info .data span {
    font-size: 2em;
    margin: 10px 10px 0 20px;
}

.field .user-info form {
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.field .user-info .logout {
    cursor: pointer;
    float: right;
    margin: 20px 20px 0 0;
    width: 30%;
    height: calc(30% + 16px);
    font-size: large;
    border-radius: 25px;
    background-color: var(--primary-back-button-color);
    border: 3px solid var(--border-back-button-color);
}

.field .user-info .logout:hover {
    border-color: var(--border-back-button-hover-color);
}

.field .profile-separator {
    height: 4px;
    width: 100%;
    margin: 35px 0;
    border-radius: 0;
    background-color: var(--primary-navigation-underline-color)
}

.field .user-activity {
    display: flex;
    flex-direction: column;
}

.field .user-activity p {
    font-size: 2em;
}

.field .question-list-field {
    padding: 5px;
    border-radius: 5px;
}

.field .question-list-field .question {
    display: flex;
    flex-direction: column;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid grey;
    margin-bottom: 10px;
}

.field .question-list-field .question a {
    width: 100%;
    font-size: 2em;
}

.field .question-list-field .question span {
    width: 100%;
    font-size: 18px;
}

.field .user-activity .no-polls {
    font-size: 5em;
    margin: 0 auto;
    color: red;
    text-shadow: 0 0 15px rgba(255, 0, 0);
}